.game-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;

    .game-panel-media {
        height: 100px;
        width: 100px;
        margin: 8px;
    }

    .game-panel-content {
        margin: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        height: 100px;
    }

    &.game-panel-restriction {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('./restriction-trans.png');  
    }
}